services:
  - type: web
    name: Awesome Intelligence -ai
    runtime: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: GITHUB_TOKEN
        sync: false
      - key: NODE_ENV
        value: production
